div {
  display: inline-block;
  margin: 10px;

}

button {
  /* display: block; */
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  margin: 0 4px;

}

.controllers {
  display: block;
  margin-top: 8px;
}
